.layoutBoxFirst {
    display: flex;
    justify-content: center;
}

.layoutBoxSecond {
    display: flex;
    justify-content: center;
}

.layoutBox {
    margin: 1em;
    padding: 7em 2em;
    width: 30%;
    height: 50%;
    background-color: #a3dada;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    font-family: 'Titan One', cursive;
}

.layoutBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: xx-large;
}

/* .Message {
    margin-left: auto;
    width: 15px;
    background-color: #bdddff;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 103, 148);
}
<div className="Message">
    ぶたこちゃん を　動かしてみよう<br/>！
</div> */